<% provide(:title, 'О нас') %>
<h1>О нас</h1>
<p>
  <a href="http://TSLRussia.org.org/">Пока работает только старый сайт</a><br>
  Разработка этого сайта осуществляется с использованием фреймворка <a href="http://rubyonrails.org/">Ruby on Rails</a>.<br>Это пока тестовая страничка.
</p>