<% provide(:title, 'Контакты') %>
<h1>Контакты</h1>
<p>
  Все контакты пока на сайте 
  <a href="http://TSLRussia.org.org/">http://TSLRussia.org.org</a><br>
   Разработка этого сайта осуществляется с использованием фреймворка <a href="http://rubyonrails.org/">Ruby on Rails</a>.<br>Это пока тестовая страничка.
</p>