<% provide(:title, 'Помощь') %>
<h1>Помощь</h1>
<p>
  Страница в разработке.<br>Смотрите 
  <a href="http://TSLRussia.org.org/">Старый сайт</a><br>
  Разработка этого сайта осуществляется с использованием фреймворка <a href="http://rubyonrails.org/">Ruby on Rails</a>.<br>Это пока тестовая страничка.
</p>